/* NAVBAR */


.uno:hover{
    color: rgb(16, 18, 16);
    font-size: large;
    
}

#textoPrincipal{
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: right;
    padding: 80px 40px;
    
}


.carousel-item {
    height: 500px;

}
.texto{
    color: rgba(244, 165, 113, 0.68);
    
}
.carousel{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    
}

#principal {
    background-image: linear-gradient(rgba(107, 25, 25, 0.5), rgba(42, 17, 17, 0.5)), url("./IMAGENES/Central/imagenCentral.png");
}

.but-bg{
    border-radius: 50px;
    
}

.but-bg:hover{
    background-color: #393425;
    font-size: large;
}

/* TEXTO CENTRAL */

#texto_central h2, .texto_central h3, .texto_central p{
    text-align: center;
    background-color: dimgray;
    color: rgba(244, 165, 113, 0.68);
    padding: 25px 0;
    margin: 0;
}




/* PRODUCTOS*/

.productos{
    height: 500px;
}


#producto1{
    background-image: url(./IMAGENES/Productos/Producto1.png);
    background-position: center;
    background-size: cover;   
}
#producto2{
    background-image: url(./IMAGENES/Productos/Producto2.png);
    background-position: center;
    background-size: cover;   
}
#producto3{
    background-image: url(./IMAGENES/Productos/Producto3.png);
    background-position: center;
    background-size: cover;   
}
#maicena{
    background-image: url(./IMAGENES/Productos/Producto4b.png);
    background-position: center;
    background-size: cover;   
}



.descripcion_producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo_producto{
    color: rgba(244, 165, 113, 0.68);
    text-align: center;
}
.producto_descripcion{
    
    color: rgba(251, 233, 221, 0.68);
    text-align: center;
    
    
}
.presentacion_producto{
    
    color: rgba(244, 165, 113, 0.68);
    text-align: center;
    
}
.info_boton{
    border-bottom: rgba(244, 165, 113, 0.68) ;
}

.maicena{
    background-color:rgba(244, 165, 113, 0.68);
}

@media screen and (max-width: 768px){

    .productos{
        height:700px;
    }
    .img_producto, .descripcion_producto{
        height: 50%;
    }
    
}


/*CALIDAD*/

#organico{
    height: 150px;
    width: 220px;
    background-image: url("./IMAGENES/Organicos/organico.png");
    background-position: center;
    background-size: cover; 
}

/* FORMULARIO */

form{
    margin: auto;
    width:50%;
    background-color: antiquewhite;
    
}
form h5{
    color: rgba(90, 58, 36, 0.68);
}
.form-group{
    color: rgba(90, 58, 36, 0.68);;
}
form div input:first-of-type{
    margin-right: 3px;
}
form div input:last-of-type{
    margin-left: 3px;
}

form button{
    width: 100%;
}
.form-control{
    background-color: rgba(90, 58, 36, 0.68);
}

#btn-enviar{
    border-color: rgba(90, 58, 36, 0.68);
    color: rgba(90, 58, 36, 0.68);

}
#btn-enviar:hover{
    background-color: rgba(90, 58, 36, 0.68);
    color: aliceblue;
}
#producto_contacto{
    background-image: url(./IMAGENES/Productos/Producto3.png);
    background-position: center;
    background-size: cover;   
}

/* RECETAS */

.card{
    background-color: antiquewhite;
}
.btn-receta{
    border-color: rgba(90, 58, 36, 0.68);
    color: rgba(90, 58, 36, 0.68);

}
.btn-receta:hover{
    background-color: rgba(90, 58, 36, 0.68);
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #010511;
    color: white;
    height: auto;
    padding: 20px;
}
footer ul{
    display: inline-flex;
    justify-content: space-between;
}
footer ul h5:hover{
    color: aliceblue;

}
footer ul li:hover{
    color: rgba(245, 108, 17, 0.68);
}

.titulo_productoF{
    color: rgba(247, 101, 4, 0.68);
    text-align: center;
}

.bi-facebook{
    color: rgb(213, 221, 230);
}

iframe{
    background-color: #010511;
    width: 100%;
}

