/* NAVBAR */
.compratick{
    display: none;
}



.uno:hover{
    color: rgb(39, 43, 39);
    font-size: large;
}

#textoPrincipal{
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: right;
    padding: 80px 40px;
    
}


.carousel-item {
    height: 500px;

}
.carousel{
    background-position: center;
    background-size: cover;
    height: 500px;
}

#principal {
    background-image:url("./IMAGENES/Central/imagenCentral.png"); 
}

.but-bg{
    border-radius: 50px;
    
}

.but-bg:hover{
    background-color: #393425;
    font-size: large;
}

/* TEXTO CENTRAL */

#texto_central h2, .texto_central h3, .texto_central p{
    text-align: center;
    background-color: dimgray;
    color: rgba(244, 165, 113, 0.68);
    padding: 25px 0;
    margin: 0;
}




/* PRODUCTOS*/

.productos{
    height: 500px;
}


#producto1{
    background-image: url(./IMAGENES/Productos/Producto1.png);
    background-position: center;
    background-size: cover;   
}
#producto2{
    background-image: url(./IMAGENES/Productos/Producto2.png);
    background-position: center;
    background-size: cover;   
}
#producto3{
    background-image: url(./IMAGENES/Productos/Producto3.png);
    background-position: center;
    background-size: cover;   
}
#maicena{
    background-image: url(./IMAGENES/Productos/Producto4b.png);
    background-position: center;
    background-size: cover;   
}



.descripcion_producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo_producto{
    color: rgba(244, 165, 113, 0.68);
    text-align: center;
    
    
}
.producto_descripcion{
    
    color: rgba(251, 233, 221, 0.68);
    text-align: center;
    
    
}
.presentacion_producto{
    
    color: rgba(244, 165, 113, 0.68);
    text-align: center;
    
}
.info_boton{
    border-bottom: rgba(244, 165, 113, 0.68) ;
}

.maicena{
    background-color:rgba(244, 165, 113, 0.68);
}

@media screen and (max-width: 768px){

    .productos{
        height:700px;
    }
    .img_producto, .descripcion_producto{
        height: 50%;
    }
    
}

/* FORMULARIO */

form{
    margin: auto;
    width:50%
}
form div input:first-of-type{
    margin-right: 3px;
}
form div input:last-of-type{
    margin-left: 3px;
}

form button{
    width: 100%;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #16213E;
    color: white;
    height: auto;
    padding: 20px;
}


#total{
    font-size: large;
    color: black;
}